// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #E8DCC2;
@light-gray: #918273;
@gray: #383331;
@dark-gray: rgba(56, 51, 49,.5);
@very-dark-gray: #151515;

@cyan: #8abeb7;
@blue: #85C2C2;
@dark-blue: #88BCD0;

@purple: #b294bb;

@green: #7F9F7F;

@red: #FF3C3C;
@red-orange: #E08056;
@dark-orange: #C6752D;
@orange: #E9A354;
@light-orange: #DFC47D;
@translucent-orange: rgba(173, 104, 0, 0.5);
@gold: #fabd00;
